body {
    margin: 0px;
}

#index-header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: rgb(5, 86, 192);
    background-color: orange;
    margin: 0;
    padding: 0px;
}